<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Management</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 title text-center">
                <h2>Room <b>Management</b></h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row result">
            <div class="col-12">
                <div class="result-header">
                    <div class="row">
                        <div class="col">
                            <p class="header-text"><i class="material-icons">hotel</i> Facilities</p>
                        </div>
                        <div class="col">
                            <p class="header-text"><i class="material-icons">room</i> Room Type</p>
                        </div>
                    </div>
                </div>
                <div class="result-body" style="margin-top: 20px;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Facilities</h5>
                                    <div class="facility-list">
                                        <p><i class="material-icons">local_parking</i> Parking</p>
                                        <p><i class="material-icons">pool</i> Swimming Pool</p>
                                        <p><i class="material-icons">ac_unit</i> Air Conditioner</p>
                                        <p><i class="material-icons">deck</i> Balcony</p>
                                        <p><i class="material-icons">beach_access</i> Towel</p>
                                        <p><i class="material-icons">bathtub</i> Bath Amenities</p>
                                        <p><i class="material-icons">local_hotel</i> Sun Bed</p>
                                        <p><i class="material-icons">shower</i> Outdoor Shower</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Room Types</h5>
                                    <div class="room-type">
                                        <p><i class="material-icons">king_bed</i> Standard</p>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        </div>
                                    </div>
                                    <div class="room-type">
                                        <p><i class="material-icons">weekend</i> Queen</p>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                        </div>
                                    </div>
                                    <div class="room-type">
                                        <p><i class="material-icons">hotel</i> King</p>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
