* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

.reservation h1 {
    margin: 40px;
    text-align: center;
}

.reservation .reservation-form {
    margin: 40px;
    padding: 2rem;
    background-color: rgba(202, 192, 180, 1);
}

.reservation .reservation-form .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.reservation .reservation-form .flex .inputBox {
    flex: 1 1 41rem;
}

.reservation .reservation-form .flex .inputBox input {
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    color: black;
    text-transform: none;
    margin-top: 1.5rem;
    border: #785025;
}

.reservation .reservation-form .flex .inputBox span {
    font-size: 1.5rem;
    color: black;
}

.reservation .reservation-form .total {
    font-size: 1.6rem;
    margin-top: 1.5rem;
    padding: 10px;
}

.reservation .reservation-form .btn {
    border-radius: 25px;
    padding: 12px 30px;
    margin-top: 1.5rem;
    font-size: 18px;
    background-color: white;
}
.reservation .reservation-form .btn:hover {
    background-color: #785025;
    color: white;
}



/* Navbar */

#navbar {
    background-color: rgba(202, 192, 180, 1);

}

#logo {
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}

#logo span {
    color: #785025;
}

.navbar-toggler span {
    color: #785025;
}

.navbar-nav {
    gap: 20px;
}

.nav-item .nav-link {
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
    padding: 10px 15px;
}

.nav-item .nav-link:hover {
    background: #785025;
    color: white;
}

.nav-item .active {
    background-color: #90693E;
    color: white;
    border-radius: 5px;
}

/* Footer */
#footer {
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background: #f9f9f9;
}

#footer h1 {
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
}

#footer p {
    margin-bottom: 10px;
}

#footer h1 span {
    color: #ffa500;
}

.social-links i {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: #ffa500;
    color: white;
    text-align: center;
    margin: 5px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.social-links i:hover {
    background: #ffa500;
}